def get_{tablename}_by_{colname}({colname}):
    try:
        {tablename} = {tablepascal}.objects.get({colname}={colname}){getchildlists}
        return {tablename}
    except Exception as e:
        return None
