{childimports}

class {tablepascal} {{fields}

  {tablepascal}({{arguments}
  });

  factory {tablepascal}.fromJson(Map<String, dynamic> json) {
    return {tablepascal}({jsonassigns}
    );
  }

  Map<String, dynamic> toJson() {
    return <String, dynamic>{{assigns}
    };
  }
}
