package {rootname}.entity;

import java.util.UUID;

public class {tablepascal} {
  private {primarydatatype} {primarycolcamel} = {primarydefault};
  private {secondarydatatype} {secondarycolcamel} = {secondarydefault};

  public {primarydatatype} get{primarycolpascal}() {
		return {primarycolcamel};
	}

  public {secondarydatatype} get{secondarycolpascal}() {
		return {secondarycolcamel};
	}

	public void set{primarycolpascal}({primarydatatype} {primarycolcamel}) {
		this.{primarycolcamel} = {primarycolcamel};
	}

	public void set{secondarycolpascal}({secondarydatatype} {secondarycolcamel}) {
		this.{secondarycolcamel} = {secondarycolcamel};
	}
}
