class {tablepascal}Serializer(Serializer):
    def __init__(self):
        Serializer.__init__(self)
        self._children = [{childlists}]
        self._fields = FIELDS[{tablepascal}.get_class()]
        self._type = {tablepascal}