package {rootname}.entity;

import java.time.LocalDateTime;

import java.util.ArrayList;
import java.util.List;
import java.util.UUID;
import java.util.Date;

public class {tablepascal} {implement}{
{fields}
{childlists}
{getters}

{setters}

{implementation}
}
