package {rootname}.view;

import java.util.*;

public class {tablepascal}View {{fields}{childlists}

  public {tablepascal}View() {

  }

  public {tablepascal}View({fieldargs}{childlistargs}) {
{fieldassigns}{childlistassigns}
	}{fieldgetters}{childlistgetters}
}
