package {rootname}.entity;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;

import javax.persistence.*;

import java.util.*;

@Entity(name = "{tablecamel}")
public class {tablepascal} {{fields}{getters}{setters}
}
