package {rootname}.mapper;

import {rootname}.entity.*;
import {rootname}.view.*;

import java.util.*;
import java.util.stream.Collectors;

public class {tablepascal}Mapper {
	public static {tablepascal}View toView({tablepascal} {tablecamel}) {
		return new {tablepascal}View({getfields}{getchildlists});
	}

  public static {tablepascal} toEntity({tablepascal}View {tablecamel}View) {
		{tablepascal} {tablecamel} = new {tablepascal}();{setfields}{setchildlists}
		return {tablecamel};
	}
}
