package {rootname}.view;

import java.util.*;

public class {tablepascal}View {
  private {primarydatatype} {primarycolumncamel};

  private {secondarydatatype} {secondarycolumncamel};

  public {tablepascal}View({primarydatatype} {primarycolumncamel}, {secondarydatatype} {secondarycolumncamel}) {
		this.{primarycolumncamel} = {primarycolumncamel};
		this.{secondarycolumncamel} = {secondarycolumncamel};
	}

  public {primarydatatype} get{primarycolumnpascal}() {
		return {primarycolumncamel};
	}

  public {secondarydatatype} get{secondarycolumnpascal}() {
		return {secondarycolumncamel};
	}
}