            for({childtablepascal} {childtablecamel}: {childtablecamel}Repo.selectOf{tablepascal}(obj.get().getPrimary())) {
                {childtablecamel}Repo.delete({childtablecamel}.getPrimary());
            }