    public {tablepascal} selectBy{columnpascal}(String value) {
        return collections.get(collectionName)
            .values()
            .stream()
            .map(x -> {
            {tablepascal} a = ({tablepascal})x;{setchildlists}
                return a;
            })
            .findFirst().orElse(null);
    }