  public List<{tablepascal}> selectOf{parentpascal}({parentprimarydatatype} {parentprimarycamel}) {
    {parentpascal} obj = em.find({parentpascal}.class, {parentprimarycamel});
    if (obj == null) {
      return new ArrayList<>();
    }
    return obj.get{tablepascal}s();
  }